.tabs-title>a {
	font-size: 1rem;
}

.tabs-panel {
	padding: 0rem;
}

.table-expand tr {
	/*border: 1px solid #e6e6e6 ;*/
	border: 1px solid #cacaca;
}

table.table-expand {
	margin-bottom: 0em;
}

.table-expand td {
	text-align: center;
	color: #000;
	/*border: 1px solid #cacaca*/
}

.table-expand th {
	text-align: center;
}

table.unstriped tbody tr {
	border-bottom: 1px solid #cacaca;
}

#catalogos_contenido .accordion-title {
	font-size: 1rem;
}

ul.tabs {
	border: 1px solid #cacaca;
}

@media screen and (max-width: 640px) {
	table.table-expand {
		font-size: .8rem !important;
	}
}

#modal_nuevo_concepto{
	top: 30% !important;
}