/*Fondo del header*/
.topbar-responsive {
	background: #FFF;
	padding: 0em 1rem 0em 1rem;
}

.topbar-responsive .top-bar-title {
		margin: 0px;
}

.topbar-responsive .menu {
	background: #FFF;
}

/*Color de los iconos del header*/
.topbar-responsive .menu a {
	color: #000;
	transition: color 0.15s ease-in;
}

/*Le da color a los iconos al poner al mouse arriba*/
.topbar-responsive .menu a:hover {
	color: #c6d1d8;
}

#siitra_logo{
	width: 12rem;
}

@media screen and (max-width: 39.9375em) {
	.topbar-responsive {
		padding: 0.75rem;
	}

	.topbar-responsive .top-bar-title {
		position: relative;
		width: 100%;
	}

	.topbar-responsive .top-bar-title span {
		position: absolute;
		right: 0;
		border: 1px solid #fefefe;
		border-radius: 5px;
		padding: 0.25rem 0.45rem;
		top: 50%;
		-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
						transform: translateY(-50%);
	}

	.topbar-responsive .top-bar-title span .menu-icon {
		margin-bottom: 4px;
		color: #000;
	}

	.topbar-responsive .top-bar-title span .menu-icon:after {
			background: #000000;
		box-shadow: 0 7px 0 #000000, 0 14px 0 #000000;
	}

	#segundo_header{
		display: none;
	}

	#segundo_header_hide{
		display: block;
	}

}

.dropdown.menu.align-center li {
	float: none;
	display: inline-block;
}

.dropdown.menu.align-center, .is-dropdown-submenu {
	background-color: #1779ba !important;
}

.dropdown.menu.align-center li a {
	padding: 0.9rem 1rem;
	font-size: 0.75rem;
	color: #FFF;
	text-transform: uppercase;
	display: block;
	font-weight: bold;
	letter-spacing: 1px;
	transition: all 0.35s ease-in-out;
}

.dropdown.menu.align-center li a.is-active {
	background: rgba(254, 254, 254, 0.15);
}

.dropdown.menu.align-center li a:hover {
	background: rgba(254, 254, 254, 0.15);
}

/** Loader */
.loader {
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid #006BBB;
	border-bottom: 8px solid #006BBB;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.subnav-hero-section {
	text-align: center;
	background: #1779ba;
	background-size: cover;
	position: relative;
	overflow: visible;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
			-ms-flex-align: center;
					align-items: center;
	-webkit-justify-content: center;
			-ms-flex-pack: center;
					justify-content: center;
	height: 5em;
}

.subnav-hero-section .subnav-hero-headline {
	color: #fefefe;
}

.two-button-group {
	position: relative;
	display: inline-block;
	margin: 1rem 0;
	&:before {
		background-color: red;
		content: attr(data-grouptype);
		z-index: 99999;
		color: #999;
		display: block;
		font-size: 1rem;
		padding: 0.50em;
		border-radius: 50%;
		background: #fff;
		position: absolute;
		left: 42.5%;
		top: 0.35rem;
	}
	button + button {
		margin-left: 5px;
	}
}


.responsive-card-table {
	border-collapse: collapse;
}

.responsive-card-table.unstriped tbody {
	/*background-color: transparent;*/
}


@media screen and (max-width: 640px) {
	.responsive-card-table>tbody {
		border:none;
	}
	.responsive-card-table thead tr {
		position: absolute;
		top: -9999em;
		left: -9999em;
	}
	.responsive-card-table tr {
		/*border: 1px solid #cacaca;*/
		display: block;
		border-bottom: none !important;
	}
	.responsive-card-table tr + tr {
		margin-top: 1.5rem;
	}
	.responsive-card-table td {
		/*border: none;*/
		/*border: 1px solid #cacaca;*/
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: flex-start;
				-ms-flex-pack: start;
						justify-content: flex-start;
		-webkit-align-items: center;
				-ms-flex-align: center;
						align-items: center;
		padding-left: 50%;
		position: relative;
		border-bottom: 1px solid #cacaca;
	}
	.responsive-card-table td:before {
		content: attr(data-label);
		display: inline-block;
		font-weight: bold;
		line-height: 1.5;
		margin-left: -100%;
		width: 100%;
		position: relative;
		z-index: 1;
	}
	.responsive-card-table td:after {
		content: '';
		position: absolute;
		background: #f8f8f8;
		font-weight: bold;
		width: 45%;
		height: 98%;
		left: 0px;
		top: 1px;
		z-index: 0;
	}

	.responsive-card-table button {
	margin: auto;
	}
}

.button.success {
	background-color: #2db25f;
	color: #ffffff;
}

.button.success:focus, .button.success:hover {
		background-color: #189045;
		color: #ffffff;
}

.add_button {
	color: #2db25f;
}

.add_button:hover {
	color: #189045;
}

.with-header{
	padding: 0em;
	border: 0em;
}

.with-header .close-button{
	color: #FFF;
}

.with-header .close-button:hover{
	color: #9d9d9d;
}

.with-header header{
	height: 4em;
}

.with-header h1{
	font-size: 2.5em;
}


.elipsis{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
