form .grid-x .input-group-label {
  background-color: #1779ba;
  border-color: #1779ba;
}

form .grid-x .input-group-field {
  border-color: #1779ba;
}

form .grid-x i {
  color: white;
  width: 1rem;
}

select {
  font-size: 1.1rem;
}


.table-expand tr {
  /*border: 1px solid #e6e6e6 ;*/
  border: 1px solid #cacaca;
}

.table-expand td{
  text-align: center;
  color: #000;
  /*border: 1px solid #cacaca*/
}

.table-expand th {
  text-align: center;
}

table.unstriped tbody tr {
    border-bottom: 1px solid #cacaca;
 }

.button.clear{
  margin: .6em;
}

#spiner_tabla_usuarios tr {
    height: 10rem !important;
}

#spiner_tabla_contactos tr {
    height: 10rem !important;
}